<div style="border-left: 1px dotted blue;padding-left: 10px;">
	<div class="row" [formGroup]="choices">
		<div class="col-md-12">
			<div class="row">
	  			<div class="col-xs-5">
	    			<input *ngIf="isSubQuestion" class="form-control" type="text" [attr.id]="'choice_reason'+previousIndex+'_'+index" placeholder="Choice option {{index+1}}" formControlName="choice_reason">
	    			<textarea *ngIf="!isSubQuestion" class="form-control" [attr.id]="'choice_reason'+previousIndex+'_'+index" placeholder="Type here..." formControlName="choice_reason"></textarea>
	    			<span>{{choices.value.choice_reason}}</span>
	    			<br />
				</div>
				<button *ngIf="isSubQuestion" type="button" class="btn btn-default" (click)="addSubQuestion(previousIndex)" [disabled]="buttonDisable">Add Sub Question</button>
				<br><br>
			</div>
			<question-control
	    		*ngFor="let question of choices.controls['questions'].controls; let i=index"
	    		[index]="i" [question]="question" [previousIndex]="index" [questionsFormArray]="choiceFormArr" (removed)="onRemoved($event)">
	  		</question-control>
		</div>
	</div>
</div>